{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {% block content %}

  <div class='container'>
    <div class="row">
      {{wtf.quick_form(form)}}
    </div>
    <div class="col-md-12">
      <div class = "jumbotron">
        <h1>comments</h1>
      {% for comment in comments %}
				<div >
            <a><p style="color: brown">{{comment.content}}</p></a>
            <a href="{{url_for('main.delete_comment',id= blog.id)}}" class="btn btn-danger">delete</a>
				</div>
      {% endfor %}
      </div>
    </div>

  </div>

  {% endblock%}
</body>

</html>

</html>